<a href="https://colab.research.google.com/github/ashikaj23/DSA_trainingSession/blob/main/kkem22_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

**Series**,**DataFrame**

# Series

In [ ]:
data = pd.Series([1.5,2.3,4.5,5.6])
data

0    1.5
1    2.3
2    4.5
3    5.6
dtype: float64

In [ ]:
data.values

array([1.5, 2.3, 4.5, 5.6])

In [ ]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
data[3]

5.6

In [ ]:
data[1:]

1    2.3
2    4.5
3    5.6
dtype: float64

In [ ]:
data = pd.Series([2.5,3.5,4.5,5.6], index = ['a','b','c','d'])
data

a    2.5
b    3.5
c    4.5
d    5.6
dtype: float64

In [ ]:
data['d']

5.6

In [ ]:
dict1 = {'kerala':200,
         'karnataka':220,
         'delhi':500,
         'TN':300}
covid_cases = pd.Series(dict1)
covid_cases

kerala       200
karnataka    220
delhi        500
TN           300
dtype: int64

In [ ]:
covid_cases['kerala']

200

# DataFrame

In [ ]:
dict2 = {'kerala':80,
         'karnataka':90,
         'delhi':20,
         'TN':65}
doctors = pd.Series(dict2)
doctors

kerala       80
karnataka    90
delhi        20
TN           65
dtype: int64

In [ ]:
covid_data = pd.DataFrame({'covidcases':covid_cases,
                           'doctors/1000':doctors})
covid_data

           covidcases  doctors/1000
kerala            200            80
karnataka         220            90
delhi             500            20
TN                300            65

In [ ]:
covid_data.index

Index(['kerala', 'karnataka', 'delhi', 'TN'], dtype='object')

In [ ]:
covid_data.columns

Index(['covidcases', 'doctors/1000'], dtype='object')

In [ ]:
covid_data['covidcases']

kerala       200
karnataka    220
delhi        500
TN           300
Name: covidcases, dtype: int64

In [ ]:
pd.DataFrame(np.random.random((3,2)),
             columns=['x','y'],
             index=['a','b','c'])

          x         y
a  0.961417  0.195292
b  0.107793  0.543405
c  0.032277  0.235799

# Data selection in series

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
data['b']

0.5

In [ ]:
data['e'] = 99
data

a     0.25
b     0.50
c     0.75
d     1.00
e    99.00
dtype: float64

In [ ]:
data['e'] = 1.5
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.50
dtype: float64

In [ ]:
data['c':]

c    0.75
d    1.00
e    1.50
dtype: float64

Data Selection in dataframe

In [ ]:
area = pd.Series({'Kerala': 423967, 'TN': 695662,
                  'Goa': 141297, 'UP': 870312,
                  'Assam': 149995})
pop = pd.Series({'Kerala': 38332521, 'TN': 26448193,
                 'Goa': 19651127, 'UP': 19552860,
                 'Assam': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

          area       pop
Kerala  423967  38332521
TN      695662  26448193
Goa     141297  19651127
UP      870312  19552860
Assam   149995  12882135

In [ ]:
data['area']

Kerala    423967
TN        695662
Goa       141297
UP        870312
Assam     149995
Name: area, dtype: int64

In [ ]:
data['density'] = data['pop'] / data['area']
data

          area       pop     density
Kerala  423967  38332521   90.413926
TN      695662  26448193   38.018740
Goa     141297  19651127  139.076746
UP      870312  19552860   22.466495
Assam   149995  12882135   85.883763

In [ ]:
data.loc['TN':'UP']

       area       pop     density
TN   695662  26448193   38.018740
Goa  141297  19651127  139.076746
UP   870312  19552860   22.466495

In [ ]:
data.iloc[:3,:2]

          area       pop
Kerala  423967  38332521
TN      695662  26448193
Goa     141297  19651127

In [ ]:
data

          area       pop     density
Kerala  423967  38332521   90.413926
TN      695662  26448193   38.018740
Goa     141297  19651127  139.076746
UP      870312  19552860   22.466495
Assam   149995  12882135   85.883763

In [ ]:
data.sum(axis=0)

area       2.281233e+06
pop        1.168668e+08
density    3.758597e+02
dtype: float64

In [ ]:
x = pd.Series([1,2,3,4],index=['a','b','c','d'])
y = pd.Series([6,7,8,9],['b','c','d','e'])
x.sub(y)

a    NaN
b   -4.0
c   -4.0
d   -4.0
e    NaN
dtype: float64

In [ ]:
x = pd.Series([1,2,3,4],index=['a','b','c','d'])
y = pd.Series([6,7,8,9],['b','c','d','e'])
x.sub(y,fill_value=0)

a    1.0
b   -4.0
c   -4.0
d   -4.0
e   -9.0
dtype: float64

In [ ]:
x = pd.Series([1,np.nan,3,4])
x

0    1.0
1    NaN
2    3.0
3    4.0
dtype: float64

In [ ]:
x.isnull()

0    False
1     True
2    False
3    False
dtype: bool

In [ ]:
x.notna()

0     True
1    False
2     True
3     True
dtype: bool

In [ ]:
x[x.notnull()]

0    1.0
2    3.0
3    4.0
dtype: float64

In [ ]:
x.dropna()

0    1.0
2    3.0
3    4.0
dtype: float64